API_PROXY_TARGET=https://<API-GATEWAY-ID>.execute-api.<AWS-REGION>.amazonaws.com/Prod
NEXT_PUBLIC_APP_URL=http://localhost:8080
NEXT_PUBLIC_CLIENT_ID=your-cognito-app-client-id
NEXT_PUBLIC_COGNITO_AUTHORITY=https://cognito-idp.us-east-1.amazonaws.com/your-user-pool-id
NEXT_PUBLIC_COGNITO_DOMAIN=https://your-cognito-domain.auth.us-east-1.amazoncognito.com
NEXT_PUBLIC_LOGOUT_URI=http://localhost:8080
